// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #e9ecef;
  color: #1b3c59;
}
.coordinate{
  display: none;
}
a:hover{
  text-decoration: none;
}
///////////////////////////////////////////////////////////////////
//////////////////////////    HEADER  /////////////////////////////
///////////////////////////////////////////////////////////////////
header {
  .navbar{
    background-color: $primaryRed;
    .logo {
      height: 100%;
      img {
        height: auto;
        width: 160px;
      }
    }
  }
}
///////////////////////////////////////////////////////////////////
//////////////////////////   HOMEPAGE  /////////////////////////////
///////////////////////////////////////////////////////////////////
.content{
  .jumboSearch{
    min-height: 100vh;
    padding: 8rem 0;
    .jumboText{
      h1 {
        font-size: 65px;
        font-weight: 700;
      }
      p{
        font-size: 16px;
      }
    }
  }
  .info {
    margin-top: 4rem;
    .searchbarWelcome{
      width: 350px;
      border: none;
      background: white;
      border: 5px solid $primaryRed;
      height: 50px;
      border-radius: 50px;
      padding: 0 20px;
      color: #3F3F3F;
      font-size: 16px;
      outline: 0;
    }
    .buttonWelcome{
      width: 75px;
      height: 50px;
      background-color: $primaryRed;
      color: white;
      border: none;
      border-radius: 50px;
      margin-left: 15px;
      outline: 0;
    }
  }
  .apartaments{
    min-height: 15vh;
    h1 {
      padding-bottom: 2rem;
    }
    ul {
      text-align: center;
      a {
        color: $primaryRed;
        text-shadow: 1px 1px white;
      }
      .apartmentImg{
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: inline-block;
        border: 4px solid $sponsored;
        border-radius: 20px;
        -webkit-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
        -moz-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
        box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
      }
    }
  }
}
///////////////////////////////////////////////////////////////////
///////////////////////   SEARCH APARTMENTS ///////////////////////
///////////////////////////////////////////////////////////////////
.contentSearch {
  .info {
    input{
      outline: 0;

    }
    .searchField {
      width: 100%;
      display: flex;
      border: 3px solid $primaryRed;
      justify-content: space-around;
      align-items: center;
      padding: 15px 20px;
      border-radius: 30px;
      background: white;
      color: #3F3F3F;
      font-weight: 500;
      margin: 10px 0px;
      flex-wrap: wrap;
      #ricerca {
        background: white;
        border: 3px solid rgb(228, 228, 228);
        height: 30px;
        width: 350px;
        border-radius: 50px;
        padding: 15px 20px;
        color: #3F3F3F;
        font-size: 16px;
      }
      input[type="number"]{
        width: 70px;
        border: none;
        background: rgb(238, 238, 238);
        padding: 7px;
        text-align: center;
        height: 35px;
        border-radius: 30px;
      }
        #btnQuery{
          width: 75px;
          height: 35px;
          background: $primaryRed;
          border: none;
          border-radius: 30px;
          margin-left: 15px;
          color: white;
          font-weight: 700;
          outline: 0;
        }
        p#btnFilter{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 75px;
          height: 35px;
          background: $primaryRed;
          border: none;
          border-radius: 30px;
          margin-left: 15px;
          margin-bottom: 0;
          color: white;
          font-weight: 700;
          outline: 0;
        }
    }
    .filtri {
      width: 100%;
      display: flex;
      -webkit-box-shadow: 0px 5px 29px -8px rgba(255, 91, 96, 0.44);
      -moz-box-shadow: 0px 5px 29px -8px rgba(255, 91, 96, 0.44);
      box-shadow: 0px 5px 29px -8px rgba(255, 91, 96, 0.44);
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      border-radius: 20px;
      background: white;
      color: #3F3F3F;
      font-weight: 500;
      margin: 10px 0px;
      display: none;
      .filtriNascosti {
        .filtriNumerici, .filtroServizi{
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
  .apartments{
    .sponsoredApartment{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      margin: 30px 0px;
      a {
        color: $primaryRed;
        text-shadow: 1px 1px white;
      }
      .sponsoredRibbon{
        position: absolute;
        top: 8px;
        right: 5%;
        text-align: center;
        background-color: gold;
        border-radius: 6px;
        padding: 5px;
        i{
          font-size: 20px;
        }
        p {
          margin: 0;
          font-size: 10px;
        }
      }
    }

    .searchedApartment{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0px;
      a {
        color: $primaryRed;
      }
    }
    .sponsoredApartmentImg{
      width: 100%;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: 3px solid $sponsored;
      border-radius: 20px;
      -webkit-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
      -moz-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
      box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
    }
    .searchedApartmentImg{
      width: 100%;
      height: 150px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: 2px solid #1b3c59;
      border-radius: 20px;
      -webkit-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
      -moz-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
      box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
    }
  .apartmentServices li{
    display: inline-block;
    margin-right: 5px;
    }
  }
}
///////////////////////////////////////////////////////////////////
/////////////////////////  SHOW APARTMENT  ////////////////////////
///////////////////////////////////////////////////////////////////
.apartment{
  h1 {
    margin-top: 20px;
    margin-bottom: 0;
    display: inline-block;
    i{
      color: gold;
      text-shadow: 1px 1px white;
    }
  }
  .containApartment{
    -webkit-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    h2 {
      color: $primaryRed;
    }
    .photo{
      width: 100%;
      height: 350px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top-left-radius: 20px;
    }
    .apartmentlInfo{
      height: 350px;  /* The height is 400 pixels */
      border-top-right-radius: 20px;
      .description,
      .address,
      .features,
      .services{
        padding: 20px;
      }
    }
    .contact {
      width: 100%;
      height: 350px;
      border-bottom-left-radius: 20px;
      padding: 20px;
      input[name=email]{
        background: white;
        border: 3px solid #e4e4e4;
        height: 30px;
        width: 250px;
        border-radius: 10px;
        padding: 15px 15px;
        color: #3F3F3F;
        font-size: 16px;
        outline: 0;
      }
      input[name=email]:focus{
        border: 3px solid $primaryRed;
      }
      textarea[name=message]{
        background: white;
        border: 3px solid #e4e4e4;
        height: 136px;
        margin-bottom: 5px;
        width: 100%;
        border-radius: 10px;
        padding: 15px 15px;
        color: #3F3F3F;
        font-size: 16px;
        outline: 0;
        resize: none;
      }
      input[name=message]:focus{
        border: 3px solid $primaryRed;
      }
      button[type=submit]{
        width: 155px;
        height: 30px;
        background: $primaryRed;
        border: none;
        border-radius: 10px;
        color: white;
        font-weight: 700;
        outline: 0;
      }
      .funzioni {
        height: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 35px;
          background: $primaryRed;
          border: none;
          border-radius: 30px;
          margin-left: 15px;
          margin-bottom: 0;
          color: white;
          font-weight: 700;
          outline: 0;
        }
      }
      .manage{
        margin-top: 5%;
      }
    }
    #map {
      height: 350px;  /* The height is 400 pixels */
      // width: 400px;  /* The width is the width of the web page */
      border-bottom-right-radius: 20px;
      padding: 0;
      p {
        text-align: center;
        font-weight: bold;
        margin-bottom: 0px;
      }
     }
     .info {
     }
 }
}
///////////////////////////////////////////////////////////////////
////////////////////////    DASHBOARD  ////////////////////////////
///////////////////////////////////////////////////////////////////
.card {
  margin-top:10px;

  .funzioni {
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
      background: $primaryRed;
      border: none;
      border-radius: 30px;
      margin-left: 15px;
      margin-bottom: 0;
      color: white;
      font-weight: 700;
      outline: 0;
    }
  }
}

.apartmentsSponsored,
.apartments {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10px;
  .apartment{
    margin-top: 5px;
    width: 100%;
    .immagine{
      width: 100%;
      a {
        width: 100%;
        color: $primaryRed;
        text-shadow: 1px 1px white;
        .apartmentImg{
          width: 100%;
          height: 200px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          display: inline-block;
          border: 4px solid $sponsored;
          border-radius: 20px;
          -webkit-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
          -moz-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
          box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
        }
    }
  }
    .unsponsored{
      border: 4px solid $primaryRed;
    }
    .sponsored{

    }
  }

  .funzioni {
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 35px;
      color: $primaryRed;
      border: 2px solid $primaryRed;
      border-radius: 30px;
      margin-left: 15px;
      margin-bottom: 0;
      font-weight: 700;
      outline: 0;
    }
  }
}



.attivo1{
  // background-color: rgba(23, 232, 94, 0.34);
}
.attivo0{
  background-color: rgba(255, 0, 0, 0.19);
}
.sponsored{
  // background-color: rgba(92, 155, 237, 0.84);
}
// .sponsor{
//   color: #3F3F3F;
//   border: 3px solid $primaryRed;
//   border-radius: 20px;
//   padding: 15px;
// }
///////////////////////////////////////////////////////////////////
////////////////////////  STATISTICHE  ////////////////////////////
///////////////////////////////////////////////////////////////////
#statistics{
  h1{
    text-align: center;
    margin: 20px 0;
  }
  #charts{
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 1000px;
    min-width: 850px;
    h2{
      text-align: center;
    }
    #viewsStatsBar,
    #viewsStatsLine,
    #messagesStatsBar,
    #messagesStatsLine{
      margin: 10px;
    }
  }

}

///////////////////////////////////////////////////////////////////
//////////////////////////    LOGIN  /////////////////////////////
///////////////////////////////////////////////////////////////////
.login-box{
    background: white;
    min-height: 450px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    text-align: center;
    form {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }
    .title{
      color: $primaryRed;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid rgb(228, 228, 228);
    }
    input[type="email"],
    input[type="password"] {
      width: 250px;
      border: none;
      background: rgb(238, 238, 238);
      /* border: 5px solid $primaryRed; */
      height: 45px;
      border-radius: 50px;
      padding: 0 10px;
      color: #3F3F3F;
      font-size: 16px;
      text-align: center;
    }
    button {
      width: 75px;
      height: 45px;
      background: $primaryRed;
      border: none;
      border-radius: 50px;
      color: white;
      font-weight: 600;
    }
    button:hover {
      background: $primaryRed;
      transform: scale(1.08);
    }
    a {
      color: $primaryRed;
    }
    a:hover {
      color: $primaryRed;
      transform: scale(1.05);
      text-decoration: none;
    }
}

///////////////////////////////////////////////////////////////////
//////////////////////////    FOOTER  /////////////////////////////
///////////////////////////////////////////////////////////////////
footer {
  color: white;
  background-color: $primaryRed;
  .linkfooter{
    border-bottom: 1px white solid;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    span{
      font-size: 20px;
      i {
        margin-left: 0.5rem;
      }
    }
  }
}


input[type=range] {
  margin: 7.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FF7478;
}
input[type=range]::-webkit-slider-runnable-track {
  background: $primaryRed;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
// pallino slider
input[type=range]::-webkit-slider-thumb {
  margin-top: -7.3px;
  width: 26px;
  height: 26px;
  background: $primaryRed;
  border: 1.8px solid $primaryRed;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
  background: #FF7478;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 26px;
  height: 26px;
  background: $primaryRed;
  border: 1.8px solid $primaryRed;
  border-radius: 15px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 8.2px 0;
  color: transparent;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #FF4146;
  border: 0;
  border-radius: 50px;
}
input[type=range]::-ms-fill-upper {
  background: $primaryRed;
  border-radius: 50px;
}
input[type=range]::-ms-thumb {
  width: 26px;
  height: 26px;
  background: $primaryRed;
  border: 1.8px solid $primaryRed;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
}
input[type=range]:focus::-ms-fill-lower {
  background: $primaryRed;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FF7478;
}


///////////////////////////////////////////////////////////////////
//////////////////////////  MEDIA QUERIES /////////////////////////////
///////////////////////////////////////////////////////////////////
@media all and (max-width: 767px) {
  .content{
    .jumboSearch{
      .jumboText{
        h1 {
          font-size: 50px;
        }
      }
    }
  }
  .apartment{

  .containApartment{
    -webkit-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
    border-radius: 20px;
    .photo{
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .apartmentlInfo{
      height: 100%;
      border-top-right-radius: 0px;
      background-color: rgba(245, 245, 245, 0.4);
      .description,
      .address,
      .features,
      .services{
        padding-bottom: 0px;
      }
    }
    .contact {
      border-bottom: none;
      background-color: rgba(245, 245, 245, 0.4);
      .funzioni {
        height: 80%;
        flex-direction: column;
      }
    }
    #map {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
     }
   }
  }

  // LOGIN
  .login-box{
    .title{
      border-right: none;
    }
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media all and (min-width: 768px) and (max-width: 991px) {
  .apartment{

  .containApartment{
    -webkit-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 29px -8px rgba(0,0,0,0.4);
    border-radius: 20px;
    .photo{
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .apartmentlInfo{
      height: 100%;
      border-top-right-radius: 0px;
      background-color: rgba(245, 245, 245, 0.4);
      .description,
      .address,
      .features,
      .services{
        padding-bottom: 0px;
      }
    }
    .contact {
      border-bottom-left-radius: 0px;
      // border-bottom: none;
      background-color: rgba(245, 245, 245, 0.4);
      .funzioni {
        height: 80%;
        flex-direction: column;
      }
    }
    #map {
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
     }
   }
  }
}

/* Large devices (desktops, 992px and up) */
@media all and (min-width: 992px) and (max-width:1199px) {
}
//
// /* Extra large devices (large desktops, 1200px and up) */
// @media all and (min-width: 1200px) {
// } 
